<template name="about">

	<div class="about">

		<div class="row">

			<h2>About MediaSTORM</h2>

			<p>
				We are MrawData, and here at Enterprise in Launceston for GovHack, we have created an application called MediaSTORM.
			</p>

			<p>
				The Media-Storm application shows a time-lapse of earthquake data in Australia over a period of 5 years. By using keywords and time-stamps during those peaking tremors, we can crosscheck twitter-users tweets to analysis how people reacted and responded over the social media platform; whether they were panicking, reaching out or providing help to those in need.
			</p>

			<p>
				The earthquake data comes from the <a href="http://www.ga.gov.au/earthquakes/exportDataController.do">Geoscience Australia Earthquakes database.</a> We limited the data by when twitter became popular (2012) and tremors that exceeded a 4.5 magnitude.
				Media-Storm acts as a link that brings social media and natural disaster data together. With this application, we've promoted study into the reaction of those connected to Twitter and how they outreached. Potentially this app can be combined with a live feed of data from the Geoscience Australia Earthquake so emergency services can respond to urgent question. In the future, if this project could have more scope, we could attach other social media platforms and gain more responses.
			</p>

			<iframe width="100%" height="500" src="https://www.youtube.com/embed/veJ1rTkVjoY?ecver=1" frameborder="0" allowfullscreen></iframe>


		</div>

	</div>

</template>
