/*
  Define global color palette
*/

@offWhite: #CCC;
@darkGrey: #353537;
@lightGrey: #999;
@lightBlue: rgb(3, 169, 244);
@errorRed: #ff6961;

.off-white {
  color: @offWhite;
}

.dark-grey {
  color: @darkGrey;
}
